/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

.star_background {
	background-image:url(../picture/star_background.png); 
	background-repeat: repeat;
}

.color_red {
	color: red;
}

.contentboard{
	background-color:#000;
   	filter:alpha(opacity=70);opacity:0.9;zoom:1;  
	border-width:2px; 
	border-color: #000020;
	border-style:solid;
}

.block {
	height: 80px;
}

.ove_block {
	border-width:2px; 
	border-style:solid;
	border-color: darkgray;
	background-color: whitesmoke; 
	
	padding: 20px 50px 20px 50px;
}

.ove_block .ove_logo {
	width: 400px;
	margin: 0px auto;
}
 
.ove_block .ove_logo img {
	width: 100%;
}


.login_block .title {
	padding-left: 30px;
}

.login_block .errormsg {
	padding-left: 40px;
}

.login_block .sign_block {
	width: 400px;
	margin: 0px auto;
	
	border-width:2px; 
	border-style:solid;
	border-color: royalblue;
	background-color: lightcyan; 
	
	padding: 10px 50px 20px 50px;
}

.register_block .title {
	padding-left: 30px;
}

.register_block .errormsg {
	padding-left: 40px;
}

.register_block .sign_block{
	width: 500px;
	margin: 0px auto;
	
	border-width:2px; 
	border-style:solid;
	border-color: royalblue;
	background-color: lightcyan; 
	
	padding: 10px 50px 30px 50px;
}

.attend_block {
	padding: 0 30px 10px 30px;
	
	border-width:2px; 
	border-style:solid;
	border-color: darkgray;
	background-color: lightcyan;
}

.attend_block .title {
	padding-left: 30px;
}

.attend_block .button {
	margin-right: 10px;
}

.attend_block .content_block {
	padding-left: 40px;
}

.ming_201406_block {
	padding: 0 30px 10px 30px;
	
	border-width:2px; 
	border-style:solid;
	border-color: darkgray;
	background-color: lightcyan;
}

.ming_201406_block .title {
	padding-left: 30px;
}

.ming_201406_block .button {
	margin-right: 10px;
}

.ming_201406_block .guidemsg {
	color: red;
}

.ming_201406_block .content_block {
	padding-left: 40px;
} 

.announce_block {
	padding: 0 30px 10px 30px;
	
	border-width:2px; 
	border-style:solid;
	border-color: darkgray;
	background-color: lightcyan;
}

.announce_block .table {
	border-width: 2px; 
	border-style:solid;
	border-color: black;
	background-color: gainsboro;
	margin-top: 20px;
}

.announce_block .table .title {
	font-size: 40px;
	padding-left: 20px;
}

.announce_block .table .date {
	width: 110px;
	height : 30px;
	float: right;
	margin-top: 15px;
	font-size: 20px;
	color: red;
}

.announce_block .content {
	padding-left: 50px;
}

.activity_block {
	padding: 0 30px 10px 30px;
	
	border-width:2px; 
	border-style:solid;
	border-color: darkgray;
	background-color: lightcyan;
}

.activity_block .table {
	border-width: 2px; 
	border-style:solid;
	border-color: black;
	background-color: gainsboro;
	
	margin-top: 20px;
}

.activity_block .table .title {
	font-size: 40px;
	padding-left: 20px;
}

.activity_block .table .date {
	width: 110px;
	height : 30px;
	float: right;
	margin-top: 15px;
	font-size: 20px;
	color: red;
}

.activity_block .content {
	padding-left: 50px;
}

.pagebutton {
	margin-bottom: 30px;
	margin-top: 30px;
}

.pagebutton .left {
	margin-right: 20px;
	background-color: blue;
	color: white;
}

.pagebutton .right {
	background-color: blue;
	color: white;
}

div .float {
	float: left;
	width: 50px;
}

div .spacer {
	clear: both;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.buttom {
  padding-left: 500px;
}


.list_content {
  background-color: #66CCFF;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
